.send_email_popup_overlay {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.28);
  }
  .send_email_popup_overlay .send_email_popup_wrap {
    position: relative;
    width: 45%;
    height: auto;
    background-color: white;
  }
  .send_email_popup_wrap .send_email_top_bar {
    padding: 0.2em 0.4em;
    text-align: right;
    font-size: 2em;
  }
  .send_email_top_bar .close_send_email {
    cursor: pointer;
  }
  @media only screen and (max-width: 480px) {
    .send_email_popup_overlay .send_email_popup_wrap {
      width: 95%;
    }
  }
  @media only screen and (max-width: 1024px) {
    .send_email_popup_overlay .send_email_popup_wrap {
      width: 65%;
    }
  }
  .send_email_popup_overlay .send_email_popup_wrap .send_email_popup_content {
    padding: 0 30px 30px 30px;
  }
  .send_email_popup_content p {
    text-align: center;
  }
  .send_email_popup_action_message {
    display: none;
    padding: 10px;
    margin-bottom: 15px;
  }
  .send_email_popup_action_message.error {
    border: 1px solid red;
    color: red;
  }
  .send_email_popup_action_message.success {
    border: 1px solid green;
    color: green;
  }
  .send_email_popup_overlay .send_email_popup_wrap .send_email_popup_content .show {
    display: block;
  }

  #send_email_btn_confirm:disabled {
    border: 2px solid #999 !important;
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
  }